body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Verdana, Tahoma, sans-serif;
}

header {
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  margin-top: 15px;
}

.image-container {
  height: 96px;
  width: 96px;
  overflow: hidden;
  border-radius: 48px;
}

.image-container img {
  height: 100%;
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
}

.container {
  width: 91%;
  max-width: 680px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  width: 100%;
  background-color: rgb(37, 37, 37);
  margin: 7px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
}

.tile-amount {
  padding: 10px
}

.tile-content {
  padding: 10px;
}

.debit {
  color: lightcoral;
}

.credit {
  color: aquamarine;
}

.modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #3b3b3b;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 660px;
  flex-direction: column;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {padding: 2px 16px;}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; 
}

.close:hover,
.close:focus {
  color: lightcoral;
  text-decoration: none;
  cursor: pointer;
}